/*Link Underline Animation*/

* {
  font-family: 'Century Gothic', 'Futura', 'Verdana', sans-serif;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

a {
  text-decoration: none;
  font-size: 18pt;

  position: relative;
  display: inline-block;
  color: #000000;
}

a:before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  background: #A4A400;
  visibility: hidden;

  transform: scaleX(0);

  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.header a:before {
  height: 4px;
}
.header a:hover {
  color: #8586E6;
}

a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

a:hover {
  color: #000000;
  text-decoration: none;
}

/*Center*/

.center {
  text-align: center;
  opacity: 1;
}

/*Page Windows*/

.mask {
  position: fixed;
  z-index: 9999;
  border: 5px solid #A4A400;
  /*background: #A4A400;*/
}
.mt, .mb {
  height: 0;
  width: 100%;
  left: 0;
}
.mb {
  bottom: 0;
}
.mt {
  top: 0;
}
.mv {
  bottom: 0;
  height: 999em;
  width: 0;
}
.ml, .ml2{
  left: 0;
}
.mr, .mr2 {
  right: 0;
}
.ml2, .mr2 {
  top: 0;
}

/*Head Line*/

.mainHead {
  font-weight: bold;
  font-size: 60px;
}

/*Divide Line*/

.divide-line {
    width: 100%;
    text-align: center;
}
.divide-line b {
    background: #A4A400;
    margin-top: 4px;
    display: inline-block;
    width: 80%;
    height: 3px;
    _overflow: hidden;
    vertical-align: middle;
}

/*Date*/

div .date {
  line-height: 1.5;
  font-weight: bold;
  color: #FFFFFF;
  display: inline;
  padding: .1em .5em .2em .5em;
  background: #8586E6;
}

/*Content Style*/

.content {
  margin: 0 auto;
  width: 80%;
  padding: 50px;
  height: 400px;
}

.text-frame {
  width: 25%;
  height: 80px;
  margin: 0 auto;
  padding: 6px;
  background: rgba(255, 255, 255, 0.6)!important;
}

/*footer*/

.footer {
  line-height: .5;
  font-size: 10pt;
  padding: 0 0 5px 0;
  background: #A4A400;
  color: #FFFFFF;
  font-weight: 400;
  height: auto;
  text-align: center;
}
.inner-footer {
  opacity: .5;
}

/*
cat-eat.gif is from "https://dribbble.com/shots/2892828-cat" for noncommercial use
desgin inspiration comes from anyway.fm
*/