* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: white;
}

h1#title {
    text-align: center;
    display: block;
    width: 200px;
    margin: 40px auto;
    font-size: 50px;
}

#content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 700px;

    box-shadow: 0 0 20px gray;
    border-radius: 20px;
    background-color: white;
}

.form-cell {
    width: 80%;
    margin: 10px auto;
}


.textfield {
    display: block;
    font-size: 30px;
    margin: 0 auto;
    padding: 3px;
    height: 50px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: all 0.3s;
    border-bottom: 2px gray solid;
}

.error-msg {
    display: block;
    height: 40px;
    width: 100%;
    margin: 3px auto;
    padding: 2px;
    color: crimson;
    font-size: 18px;
    transition: all 0.2s;
    /*Test*/
    /*border: red 1px solid;*/
}

.error-state {
    border-bottom: crimson 3px solid;
}

.pass-state {
    border-bottom: limegreen 3px solid;
}

.button {
    color: white;
    display: inline-block;
    cursor: pointer;
    width: 40%;
    margin: 4%;
    font-size: 25px;
    padding: 8px;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    transition: all 0.2s;
}

#submit {
    background-color: deepskyblue;
}

#submit:hover {
    background-color: dodgerblue;
}

#submit:active {
    background-color: darkblue;
}

#submit[disabled="disabled"] {
    background-color: gray;
}

#reset {
    background-color: indianred;
}

#reset:hover {
    background-color: orangered;
}

#reset:active {
    background-color: brown;
}
