* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: ".SF NS Display", "Arial", sans-serif;
    -webkit-user-select: none;
}

h1 {
    margin: 20px;
}

#status-bar {
    margin: 10px;
}

#button-bar {
    height: 50px;
    width: 320px;

    margin: auto;
}

#button-bar .button, #status-bar div {
    height: 20px;
    width: 100px;

    display: inline-block;
}

.button {
    border-radius: 5px;
    background-color: gainsboro;

    color: dodgerblue;

    margin: 20px;
}

.button:hover {
    background-color: darkgrey;
}

.button:active {
    background-color: gray;
}

#drop-zone {
    border: 4px gray dotted;
    border-radius: 20px;

    padding: 20px;
}

#puzzle-content {
    height: 320px;
    width: 320px;
    background-color: gainsboro;
    box-shadow: 0 0 3px black;

    position: relative;
    margin: auto;
}

.puzzle-block {
    -webkit-transition-duration: 0.3s;
    position: absolute;
    width: 25%;
    height: 25%;
    line-height: 48px;
    text-align: center;
    -webkit-user-select: none;
}

.puzzle-block:hover {
    box-shadow: 0 0 8px black;
    z-index: 1;
}

#hover-message {
    -webkit-animation-timing-function: linear;
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 100px;
    font-weight: bold;
    color: crimson;
    z-index: 100;
}

.blur {
    -webkit-filter: blur(10px);
}

#hover-message #message {
    margin: 300px auto;
    vertical-align: middle;
}

.drag-over {
    background-color: gainsboro;
}